:root {
	--base-text : #727489;
}

* {
	transition: ease 0.4s;
	outline: none;
	box-sizing: border-box;
	font-size: 14px;
	line-height: calc(14px * 1.618);
}

html, body {
	margin: 0;
	padding: 0;
	color: black;
	letter-spacing: 0.5px;
	font-family: 'Montserrat', sans-serif;
}

#logo-brand {
	display: none;
}

#logo {
	padding-left: 1em;
	filter: grayscale(100%) brightness(120%);
	display: flex;
}

#logo:hover {
	filter: grayscale(0) brightness(100%);
}

nav {
	position: fixed;
	width: 100%;
	background-color: transparent;
	display: flex;
	height: 50px;
	align-items: center;
	justify-content: space-between;
	/*padding: 1em;*/
	z-index: 5;
}

.list-menu {
	display: flex;
}

.list-menu .menu {
	margin-right: 2em;
}

nav a {
	text-decoration: none;
	color: white;
	font-weight: 400;
}

nav a i {
	color: #aeaeae;
}

nav a:hover i {
	color: white;
}

nav a:hover {
	color: #aeaeae;
}

.list-menu, .dropdown {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown-content {
	border-radius: 5px;
	top: 50px;
	margin-left: 3em;
	display: none;
	flex-direction: column;
	position: absolute;
	background-color: white;
	z-index: 1;
	padding: 1em 3em 1em 5px;
	overflow: hidden;
	box-shadow: 0 1px 25px 0 rgba(0,0,0,0.1);
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content a {
	padding: 5px 1em;
	color: black;
	font-size: 12px;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
}

header, #profile {
	width: 100%;
	margin-bottom: 6em;
}

header {
	height: 550px;
}

header .overlay {
	display: block;
	position: absolute;
	content: '';
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%);
	width: 100%;
	height: 100%;
	z-index: 2;
}

.heading {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.heading h1 , h3 {
	line-height: 0;
	color: white;
	letter-spacing: 2px;
}

.heading h1 {
	margin-top: 10px;
	font-weight:700;
	font-size: 42px;
}

.heading h3 {
	font-weight: 400;
	font-size: 21px; 
}

.heading .button, .nowjoin .button {
	border-radius: 50px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	font-size: 12px;
	margin-top: 1em;
}

.heading .button:hover, .nowjoin .button:hover {
	background-color: white;
	color: black;
}

.button {
	padding: 10px 3em;
	text-decoration: none;
	outline: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(75%);
}

.swiper-button-prev,  .swiper-button-next{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
	transform: rotate(180deg);
}

.swiper-pagination-bullet-active {
	background: white;
}

.container h1 {
	font-size: 28px;
}

#ibadah {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1.5em;
	margin-bottom: 6em;
}

.jadwal {
	background-color: white;
	padding-bottom: 4em;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 5px 1em 0 rgba(0,0,0,0.1);
}

.jadwal:hover .cover img {
	transition: 3s ease-out;
	transform: scale(1.2);
	filter: brightness(50%);
}

.jadwal .cover {
	overflow: hidden;
	height: 175px;
}

.jadwal .cover img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.jadwal .isi {
	padding-top: 1em;
	padding-left: 1.5em;
}

.jadwal h1 {
	color: #FFBA00;
	font-weight: 700;
	font-size: 21px;
}

.jadwal p {
	margin: 0;
}

.jadwal p:last-child {
	margin-top: 3em;
}

.slider2, .nowjoin .isi {
	height: 350px;
}

.nowjoin {
	margin-top: 2em;
	display: flex;
}

.nowjoin h1 {
	font-weight: 600;
	font-size: 21px;
}

.nowjoin p {
	font-size: 12px;
	line-height: calc(12px * 1.618);
}

.nowjoin .isi{
	flex: 1;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: black;
	color: white;
}

.know, .join {
	background-size: fill;
	background-position: center;
}

.know {
	background-image: url('../src/Asset 1.jpg');
}

.join {
	background-image: url('../src/Asset 2.jpg');
}

#artikel {
	padding-top: 4em;
	padding-bottom: 6em;
	background-color: white;
}

.artikelbox {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1em;
}

.artikelbox .isi {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	background-color: #1A1A1A;
	color: white;
	overflow: hidden;
}

.artikelbox .isi .overlay {
	display: block;
	/*margin-bottom: 5em;*/
	z-index: 1;
	position: absolute;
}

.artikelbox .isi:first-child .overlay {
	margin-left: 2em;
	margin-top: -2em;
}


.artikelbox .isi:not(:first-child) .overlay {
	margin-left: 1em;
	margin-top: -1em;
}

.artikelbox .isi:not(:first-child) h1{
	font-size: 16px;
	margin: 0;
}

.artikelbox .isi h1 {
	margin-bottom: 10px;
	text-transform: uppercase;
}

.next {
	color: white;
	text-decoration: none;
}

.next:hover {
	margin-left: 1em;
	opacity: 0.5;
}

.next:hover i {
	margin-left: 10px;
}

.next i {
	transform: scale(0.75);
	border: 1px solid white;
	border-radius: 50%;
	padding: .5em 0.65em;
}

.artikelbox .isi:not(:first-child) .next {
	font-size: 10px;
}

.artikelbox .isi:not(:first-child) .next i {
	transform: scale(0.55);
}

.artikelbox .isi:first-child img {
	filter: grayscale(0%) brightness(60%) ;
}

.artikelbox .isi img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: grayscale(0%) brightness(30%) ;
}

.artikelbox .isi img:hover {
	filter: grayscale(100%) brightness(20%);
	transform: scale(1.5) rotate(-15deg);
	transition: 15s ease-out;
}

.isi1 {
	height: 450px;
}

.isi1 { grid-area: 1 / 1 / 3 / 2; }
.isi2 { grid-area: 1 / 2 / 2 / 3; }
.isi3 { grid-area: 2 / 2 / 3 / 3; }

#subs {
	background-image: url('../src/peduli.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-color: black;
	color: white;
	height: 400px;
}

#subs .container {
	height: 100%;
	flex-direction: column;
	display: flex;
	align-content: center;
	justify-content: center;
	text-align: center;
}

#subs .container h1 {
	margin: 0;
}

.f-subs {
	margin-top: 2em;
}

.cekbox {
	margin-top: 1em;
	margin-left: 2.5em;
	float: left;
	font-size: 10px;
}

.cekbox #cek-user {
	margin-right: 1em;
}

.f-subs .form {
	display: flex;
}

#email, .f-pray input, .f-pray textarea{
	flex: 1;
	outline: none;
	color: white;
	padding: 10px 2em;
	background-color: transparent;
	border: 1px solid white;
}

#email::placeholder, .f-pray input::placeholder, .f-pray textarea::placeholder {
	color: white;
}

#email:focus::placeholder, .f-pray input:focus::placeholder, .f-pray textarea:focus::placeholder{
	color: black;
}

#email:focus , .f-pray input:focus, .f-pray textarea:focus {
	background-color: white;
	color: black;
}

.f-subs .form button, #send, #reset, #send:hover+#reset {
	padding: 10px 5em;
	background-color: white;
	color: black;
	outline: none;
	border: 1px solid white;
	cursor: pointer;
}

.f-subs .form button:hover, #reset, #send:hover {
	background-color: transparent;
	color: white;
	/*transform: scale(0.85);*/
}

#reset:hover {
	background-color: red;
	border-color: red;
}

.f-subs .form button {
	margin-left: 2em;
}

#pray {
	padding: 4em 0;
	background-color: #775B34;
	color: white;
	text-align: center;
}

.f-pray {
	margin-top: 4em;
	display: grid;
	grid-gap: 1em;
	grid-template-areas: 
	'front back'
	'mail tel'
	'doa doa'
	'action action';
}

#front { grid-area: front ;}
#back { grid-area: back ;}
#mail { grid-area: mail ;}
#tel { grid-area: tel ;}
#doa { grid-area: doa ;}
#action { grid-area: action ;}

#action button {
	margin: 1em;
}

.form button:hover {
	transform: scale(.9);
}

#footer {
	background-color: black;
	color: white;
	padding: 4em 0;
}

#footer .container{
	display: grid;
	grid-gap: 2em;
	grid-template-columns: 3fr 2fr 1fr 1.5fr;
}

.map {
	width: 100%;
	height: 250px;
}

#footer .isi p {
	margin: 0;
	margin-bottom: 2px;
}

#footer .isi p a {
	font-size: 12px;
	color: #aeaeae;
	text-decoration: none;
	font-style: italic;
}

#footer .isi p a:hover {
	color: white;
}

#footer .isi p {
	font-size: 12px;
}

#footer .isi p:first-child {
	font-size: 21px;
	font-weight: 600;
	margin-bottom: 1em;
}

#footer .apps {
	margin-left: 5px;
}

#footer .apps i {
	transform: scale(0.65);
	width: 60px;
	height: 60px;
	background-color: white;
	border-radius: 50%;
	color: black;
	padding: 15px 18px;
	/*padding: 12px 15px;*/
	font-size: 30px;
}

footer {
	text-align: center;
	padding: 1em;
	background-color: black;
	color: white;
}